body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1236px;
}
#u156 {
  position:absolute;
  left:0px;
  top:-176px;
  width:750px;
  height:1236px;
}
#u157 {
  position:absolute;
  left:2px;
  top:610px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:112px;
  top:136px;
  width:180px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:472px;
  top:136px;
  width:180px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  position:absolute;
  left:78px;
  top:491px;
  width:604px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u161 {
  position:absolute;
  left:633px;
  top:191px;
  width:43px;
  height:50px;
}
#u162 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u163 {
  position:absolute;
  left:639px;
  top:561px;
  width:43px;
  height:50px;
}
#u164 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:70px;
}
#u165 {
  position:absolute;
  left:0px;
  top:996px;
  width:750px;
  height:70px;
}
#u166 {
  position:absolute;
  left:2px;
  top:27px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:fixed;
  left:50%;
  margin-left:-134px;
  bottom:0px;
}
#u167_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u167_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:56px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:56px;
}
#u169 {
  position:absolute;
  left:2px;
  top:20px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
