body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2000px;
}
#u118 {
  position:absolute;
  left:0px;
  top:-176px;
  width:750px;
  height:2000px;
}
#u119 {
  position:absolute;
  left:2px;
  top:992px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:641px;
  top:0px;
  width:107px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:315px;
  top:1709px;
  width:409px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:40px;
}
#u122 {
  position:absolute;
  left:714px;
  top:54px;
  width:34px;
  height:40px;
}
#u123 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:33px;
  top:1693px;
  width:105px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u125 {
  position:absolute;
  left:118px;
  top:1774px;
  width:43px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u127 {
  position:absolute;
  left:697px;
  top:1766px;
  width:43px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:402px;
  top:94px;
  width:346px;
  height:326px;
  overflow:hidden;
  visibility:hidden;
}
#u129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:326px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:248px;
}
#u130 {
  position:absolute;
  left:104px;
  top:0px;
  width:240px;
  height:248px;
}
#u131 {
  position:absolute;
  left:2px;
  top:116px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:104px;
  top:7px;
  width:240px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  position:absolute;
  left:105px;
  top:88px;
  width:240px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  position:absolute;
  left:105px;
  top:170px;
  width:240px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
