body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1248px;
}
#u140 {
  position:absolute;
  left:0px;
  top:-176px;
  width:750px;
  height:1248px;
}
#u141 {
  position:absolute;
  left:2px;
  top:616px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:273px;
  width:750px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u143 {
  position:absolute;
  left:690px;
  top:367px;
  width:44px;
  height:52px;
}
#u144 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:36px;
  top:871px;
  width:677px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u146 {
  position:absolute;
  left:669px;
  top:957px;
  width:44px;
  height:52px;
}
#u147 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:645px;
  top:99px;
  width:95px;
  height:65px;
  overflow:hidden;
}
#u148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u149 {
  position:absolute;
  left:707px;
  top:147px;
  width:43px;
  height:50px;
}
#u150 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
